html{
    height:100%;
}
body{
    height: 100%;
}
#ToDoBox{
    background-color: lightgrey;
    width: fit-content;
    border: 15px  solid black;
    padding: 50px;
    
}
.center{
    margin: auto;
    width: 60%;
    padding: 10px;
}
h1{
    text-align: center;
}