html{
    height:100%;
}
body{
    height: 100%;
}
#ToDoBox{
    background-color: lightgrey;
    width: fit-content;
    border: 15px  solid black;
    padding: 50px;
    
}
.center{
    margin: auto !important;
    width: 60%;
    padding: 10px;
}
h1{
    text-align: center;
}

#clock {
    width: 300px;
    height: 100px;
    background-color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: greenyellow;
    font-family:fantasy;
    font-size: 3em;
}